<table style="width:100%">
<tr>
  <td colspan=2><span class='username' >Драпой Сергей Васильевич</span></td>
</tr>

<tr>
<td style="width:60%"><%= image_tag('avatar.png',:class => 'userimage') %></td>
<td>
<ul>
<li><%= link_to("Обо мне", "#") %></li>
<li><%= link_to("Мои работы", "#") %></li>
<li><%= link_to("Сделать заказ", "#") %></li>
<li><%= link_to("Контакты", "#") %></li>
</ul></td>
</tr>
</table>
