<table style="width:100%">
<tr>
  <td colspan=2><span class='username' >Драпой Сергей Васильевич</span></td>
</tr>

<tr>
<td style="width:60%"><%= image_tag('avatar.png',:class => 'userimage') %></td>
<td>
<ul>
<li><%= link_to("Обо мне", "#",:class=>'menuitem') %></li>
<li><%= link_to("Мои работы", "#",:class=>'menuitem') %></li>
<li><%= link_to("Сделать заказ", "#",:class=>'menuitem') %></li>
<li><%= link_to("Контакты", "#",:class=>'menuitem') %></li>
</ul>
</td>
</tr>
</table>
